
@{
    ViewBag.Title = "Especialidades";
}

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Especialidades</h3>
        <div class="row inner-sec">
            hola
        </div>
    </div>
</section>
